---
import Header from "../components/Header.astro";
import Catalogue from "../components/Catalog-comp.astro";
import Footer from "../components/Footer.astro";
import NavWhite from "../components/Nav-white.astro";

let title = "By E | Download our catalogue";
let siteUrl = "https://www.by-elements.com/catalog-sub";
let siteTitle = "By E";
let description = "Download the ByE catalogue. See the full furniture collection. Find the furniture that compliments your own collection.";
---

<html lang="en">
  <head>
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content={siteTitle} />
    <meta property="og:url" content={siteUrl} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/open-graph-by-e.jpg" />
    <Header />
  </head>
  <body>
    <NavWhite />
    <main>
      <hero class="w-screen min-h-screen flex flex-col justify-end bg-bye-earth-red text-bye-white lg:flex-row lg:items-center flex-col-reverse pt-40 lg:pt-0">
        <div class="image-container flex flex-row justify-center items-end object-cover h-25v w-full overflow-hidden lg:w-3/5 lg:h-65v">
          <img src="/assets/img/catalog-1.jpg" alt="" class="min-h-full min-w-full object-cover" />
        </div><!-- /. img wrap -->
        <div
          class="text-container flex flex-col
               space-y-4 px-6 py-10 lg:w-2/5 lg:px-16"
        >
          <h1 class="text-4xl">Download our catalogue</h1>
          <form action="#" class="flex flex-col space-y-4 w-full">
            <div>
              <label for="name">Name</label><br />
              <input type="text" id="name" placeholder="Judith Taylor" class="text-bye-black w-full bg-bye-white rounded-sm px-2" required />
            </div>
            <div>
              <label for="email">Email</label><br />
              <input type="email" id="email" placeholder="judithtaylor@gmail.com" class="text-bye-black w-full bg-bye-white rounded-sm px-2" />
            </div>
            <div>
              <label for="company">Company <span class="opacity-60">(optional)</span></label><br />
              <input type="text" id="company" class="text-bye-black w-full bg-bye-white rounded-sm px-2" />
            </div>
            <div>
              <label for="website">Website <span class="opacity-60">(optional)</span></label><br />
              <input type="text" id="website" class="text-bye-black w-full bg-bye-white rounded-sm px-2" />
            </div>
            <div class="flex flex-row items-center hover:text-bye-taupe-50 group pt-6">
              <input type="submit" value="Send me the catalogue by mail" class="cursor-pointer" />
              <svg
                class="w-8 h-4 ml-2 group-hover:translate-x-2 ease-in-out duration-200"
                width="100%"
                height="100%"
                viewBox="0 0 26 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M19.9878 0L18.7275 1.28501L22.5611 5.10701H0V6.89299H22.5611L18.7284 10.7159L19.9878 12L26 6L19.9878 0Z" fill="currentColor"></path>
              </svg>
            </div>
          </form>
        </div><!-- /. text wrap -->
      </hero>
      <!-- /. hero  -->
      <div class="main-wrapper space-y-20 my-20 max-w-screen-2xl mx-auto flex flex-col items-center justify-center w-full lg:space-y-32 lg:mb-32">
        <section class="home-our-story px-6 md:px-16 lg:px-24">
          <div class="container">
            <div class="flex flex-col lg:flex-row lg:flex-row-reverse">
              <div class="image-container lg:w-1/2 lg:flex flex-row justify-start items-center overflow-hidden">
                <img src="/assets/img/home-bastiaan.jpg" alt="" class="min-w-full object-cover" />
              </div>
              <div class="text-container space-y-4 py-6 lg:w-1/2 lg:space-y-reverse lg:flex lg:flex-col lg:justify-center lg:items-start lg:py-16 lg:pr-16">
                <h2 class="text-4xl">Our story</h2>
                <p class="hidden lg:block lg:pt-4">
                  As a Dutch kid Bastiaan grew up in Indonesia, making it his first home and giving him a thorough understanding of the Javanese culture, crafts, materials and
                  possibilities. Combining his family’s extensive manufacturing experience and production facilities and his own design and economics background has laid the
                  foundation for ByE..
                </p>
                <a href="." class="flex flex-row items-center hover:text-bye-taupe-200 group"
                  >Read all about it
                  <svg
                    class="w-8 h-4 ml-2 group-hover:translate-x-2 ease-in-out duration-200"
                    width="100%"
                    height="100%"
                    viewBox="0 0 26 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M19.9878 0L18.7275 1.28501L22.5611 5.10701H0V6.89299H22.5611L18.7284 10.7159L19.9878 12L26 6L19.9878 0Z" fill="currentColor"></path>
                  </svg></a
                >
              </div>
            </div>
          </div><!-- /. container-->
        </section>
        <!-- /. section-our-story -->
      </div><!-- /.main wrapper -->
    </main>
    <Footer />
  </body>
</html>
