---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import NavWhite from "../components/Nav-white.astro";

let title = "By E | Download our catalogue";
let siteUrl = "https://www.by-elements.com/catalog-sub";
let siteTitle = "By E";
let description = "Download the ByE catalogue. See the full furniture collection. Find the furniture that compliments your own collection.";
---

<html lang="en">
  <head>
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content={siteTitle} />
    <meta property="og:url" content={siteUrl} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/open-graph-by-e.jpg" />
    <Header />
  </head>
  <body>
    <NavWhite />
    <main>
      <hero class="w-screen min-h-screen flex justify-end bg-bye-earth-red text-bye-white lg:flex-row lg:items-center flex-col-reverse pt-40 lg:pt-0">
        <div class="image-container flex flex-row justify-center items-end object-cover h-25v w-full overflow-hidden lg:w-3/5 lg:h-65v">
          <img src="/assets/img/catalog-1.jpg" alt="" class="min-h-full min-w-full object-cover" />
        </div><!-- /. img wrap -->
        <div class="text-container flex flex-col space-y-4 px-6 py-10 lg:w-2/5 lg:px-16">
          <h1 class="text-4xl">Thanks!</h1>
          <p>You have received the catalogue in your mailbox</p>
        </div>
      </hero>
      <!-- /. hero  -->
      <div class="main-wrapper space-y-20 my-20 max-w-screen-2xl mx-auto flex flex-col items-center justify-center w-full lg:space-y-32 lg:mb-32">
        <section class="introduction-section w-full lg:px-24" id="catalog-section">
          <div class="container">
            <div class="wrapper-grid grid gap-32 w-full lg:grid-rows-2 lg:grid-cols-2 lg:items-start lg:gap-x-20 lg:gap-y-32">
              <div class="grid-item lg:flex lg:flex-col lg:justify-start lg:col-span-2  ">
                <div class="img-wrap pr-6 flex flex-row justify-center items-center overflow-hidden max-w-3xl self-center">
                  <img src="/assets/img/catalog-2.jpg" alt="" class="min-h-full min-w-full object-cover" loading="lazy" />
                </div>
                <div class="text-wrap space-y-4 text-right px-6 lg:text-center lg:py-4">
                  <p>Black Komodo chair and the Cairo lamp</p>
                </div>
              </div><!-- /. grid-item -->
              <div class="grid-item lg:flex lg:flex-col lg:justify-center">
                <div class="img-wrap flex flex-row justify-center items-center pl-6 lg:pl-0">
                  <img src="/assets/img/catalog-3.jpg" alt="" loading="lazy" />
                </div>
                <div class="text-wrap space-y-4 px-6 lg:text-center lg:py-4">
                  <p>Bee lamp</p>
                </div>
              </div><!-- /. grid-item -->
              <div class="grid-item lg:flex lg:flex-col lg:justify-center lg:pt-24">
                <div class="img-wrap pr-6 flex flex-row justify-center items-center lg:pr-0">
                  <img src="/assets/img/catalog-4.jpg" alt="" loading="lazy" />
                </div>
                <div class="text-wrap space-y-4 text-right px-6 lg:text-center lg:py-4">
                  <p>Lita barstool and rainwood stool</p>
                </div>
              </div><!-- /. grid-item -->

              <!-- /. wrapper-grid -->
            </div>
            <!-- /. container-->
          </div>
        </section>
      </div><!-- /.main wrapper -->
    </main>
    <Footer />
  </body>
</html>
