---
import Header from "../components/Header.astro";
import Catalogue from "../components/Catalog-comp.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

let title = "By E | Modern shapes furniture and accessories ";
let siteUrl = "https://www.by-elements.com";
let siteTitle = "By E";
let description = "A collection of furniture that you can buy and resell under your own brand. Indonesian craftmanship. ";
---

<html lang="en">
  <head>
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content={siteTitle} />
    <meta property="og:url" content={siteUrl} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/open-graph-by-e.jpg" />
    <Header />
  </head>
  <body>
    <Nav />
    <main class="w-full">
      <hero class="w-full h-screen relative flex flex-col justify-center items-center lg:flex-row">
        <div class="absolute h-full top-0 right-0 bottom-0 left-0 bg-bye-grey z-0 flex flex-row items-center justify-center overflow-hidden lg:relative lg:w-3/6">
          <img src="/assets/img/home-hero.jpg" class="min-w-full min-h-full object-cover" alt="" />
        </div>
        <!-- /. Left side wrapper -->

        <div
          class="absolute h-full top-0 right-0 bottom-0 left-0 flex flex-col justify-center items-center z-10 p-10 lg:relative lg:w-3/6 lg:bg-bye-taupe-100 lg:text-bye-white lg:p-16"
        >
          <div>
            <h1 class="sr-only">By E</h1>
            <h2 class="leading-normal text-center pb-6 text-4xl lg:text-left lg:leading-normal">Modern shapes combined with traditional Indonesian craftsmanship.</h2>
            <p class="hidden lg:block">
              A collection full of contemporary, complete and fresh products that you can buy and resell under your own brand. The style is natural, handcrafted and calm.
            </p>
            <a href="#hero-extend" class="lg:hidden">
              <svg class="w-8 h-8 text-bye-white m-auto" width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="16" cy="16" r="15.5" fill="currentColor" stroke="currentColor"> </circle>
                <path d="M21.7142 15.238L15.9999 20.9523L10.2856 15.238" stroke="#665F52" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"> </path>
              </svg>
            </a>
            <a href="/why-work-with-us" class="lg:flex lg:flex-row items-center hover:text-bye-taupe-200 group hidden lg:mt-6"
              >Why buy from us
              <svg
                class="w-8 h-4 ml-2 group-hover:translate-x-2 ease-in-out duration-200"
                width="100%"
                height="100%"
                viewBox="0 0 26 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M19.9878 0L18.7275 1.28501L22.5611 5.10701H0V6.89299H22.5611L18.7284 10.7159L19.9878 12L26 6L19.9878 0Z" fill="currentColor"></path>
              </svg></a
            >
          </div>
        </div>
        <!-- /. Right side wrapper -->
        <!-- /. container-->
      </hero>
      <!-- /. hero  -->
      <div class="main-wrapper max-w-screen-2xl mx-auto space-y-20 flex flex-col items-center justify-center w-full lg:space-y-32 lg:mb-32">
        <section id="hero-extend" class="mobile-only-section lg:hidden">
          <div class="container px-6 py-12 md:px-20 space-y-4">
            <p>
              A collection full of contemporary, complete and fresh products that customers can buy and resell under their own brand. The style is natural, handcrafted and calm
            </p>
            <a href="/why-work-with-us" class="flex flex-row items-center hover:text-bye-taupe-200 group"
              >Why buy from us?
              <svg
                class="w-8 h-4 ml-2 group-hover:translate-x-2 ease-in-out duration-200"
                width="100%"
                height="100%"
                viewBox="0 0 26 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M19.9878 0L18.7275 1.28501L22.5611 5.10701H0V6.89299H22.5611L18.7284 10.7159L19.9878 12L26 6L19.9878 0Z" fill="currentColor"></path>
              </svg></a
            >
          </div>
          <!-- /. container-->
        </section>
        <!-- /. section-mobile-only -->

        <section class="introduction-section md:px-24">
          <div class="container">
            <div class="wrapper flex flex-col space-y-16 lg:space-y-reverse lg:flex-row">
              <div class="flex flex-col space-y-16 md:flex-row md:space-x-16 lg:w-1/2">
                <div class="flex flex-col space-y-8">
                  <div class="flex flex-col justify-center items-center h-35v overflow-hidden aspect-[2/3]">
                    <img src="/assets/img/home-chair.jpg" alt="" class="object-cover min-h-full min-w-full" />
                  </div>
                  <div class="px-6 space-y-4 md:px-0">
                    <h2>We are an international company: European origin based in Indonesia</h2>
                    <p>
                      We operate in different areas and cultures. Being a fusion of a European and an Indonesian company and also living and having customers and shops
                      internationally makes us aware of the different cultures and values on both sides of the world. We can look from both the International as well as the local
                      perspective and from both the production as well as the consumer’s point of view. This smoothens many layers in design, communication, logistics and
                      production.
                    </p>
                  </div>
                </div>
                <!-- /. first item  -->
                <div class="flex flex-col space-y-8">
                  <div class="flex flex-col justify-start items-start h-35v overflow-hidden aspect-[2/3]">
                    <img src="/assets/img/home-person.jpg" alt="" class="object-cover min-h-full min-w-full" />
                  </div>
                  <div class="px-6 space-y-4 md:px-0">
                    <h2>Experience is what we’re known for</h2>
                    <p>
                      Bastiaan has already been designing and producing ‘white label furniture’  for renowned and successful international furniture brands for years. The extensive
                      experience of developing and producing for other brands has enabled us to see that our designs and products are very well received by our consumers in many
                      different countries and markets.
                    </p>
                  </div>
                </div>
                <!--  /. second item -->
              </div>
              <!-- /. left side -->
              <div class="flex flex-col space-y-6 lg:w-1/2 lg:pl-24">
                <div class="flex flex-col  justify-center items-center h-35v overflow-hidden lg:h-auto">
                  <img src="/assets/img/home-handcraft.jpg" alt="" />
                </div>
                <div class="px-6 space-y-4 md:px-0">
                  <h2>Our production takes place in our Elements Factory</h2>
                  <p>
                    ByE works together with Elements Factory based in Indonesia. Therefore it can control its development and production processes and implement its own vision and
                    values. We are there from the initial design until the finished product. Our skillful team members work closely together with the craftsmen to get the right
                    products. Being present at the source gives us control over every step in the process; from the sourcing of materials all the way through the production
                    process.
                  </p>
                </div><!-- /. third item-->
              </div>
              <!-- /. right side -->
            </div>
            <!-- /. wrapper-->
          </div>
          <!-- /. container-->
        </section>
        <!-- /. section-introduction -->

        <Catalogue />

        <section class="home-our-story px-6  md:px-16 lg:px-24">
          <div class="container">
            <div class="flex flex-col lg:flex-row">
              <div class="image-container lg:w-1/2 lg:flex flex-row justify-start items-center overflow-hidden">
                <img src="/assets/img/home-bastiaan.jpg" alt="" class="min-w-full object-cover" />
              </div>
              <div class="text-container space-y-4 py-6 lg:w-1/2 lg:space-y-reverse lg:flex lg:flex-col lg:justify-center lg:items-start lg:p-16">
                <h2>Our story</h2>
                <p class="hidden lg:block lg:pt-4">
                  As a Dutch kid Bastiaan grew up in Indonesia, making it his first home and giving him a thorough understanding of the Javanese culture, crafts, materials and
                  possibilities. Combining his family’s extensive manufacturing experience and production facilities and his own design and economics background has laid the
                  foundation for ByE..
                </p>
                <a href="/our-story" class="flex flex-row items-center hover:text-bye-taupe-200 group"
                  >Read all about it
                  <svg
                    class="w-8 h-4 ml-2 group-hover:translate-x-2 ease-in-out duration-200"
                    width="100%"
                    height="100%"
                    viewBox="0 0 26 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M19.9878 0L18.7275 1.28501L22.5611 5.10701H0V6.89299H22.5611L18.7284 10.7159L19.9878 12L26 6L19.9878 0Z" fill="currentColor"></path>
                  </svg></a
                >
              </div>
            </div>
          </div><!-- /. container-->
        </section>
        <!-- /. section-our-story -->
      </div><!-- /.main wrapper-->

      <section class="section-home-outro w-full m-auto">
        <div class="contain w-full flex flex-row justify-center items-center overflow-hidden h-25v max-h-48">
          <img src="assets/img/home-rugs.jpg" alt="" class="min-w-full min-h-full object-cover" />
        </div>
        <!-- /.container -->
      </section><!-- /. section-home-outro -->
    </main>
    <Footer />
  </body>
</html>
