---
import Header from "../components/Header.astro";
import Catalogue from "../components/Catalog-comp.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

let title = "By E Home";
let siteUrl = "https://www.by-elements.com";
let siteTitle = "By E";
let description = "Lorem Ipsum";
---

<html lang="en">
  <head>
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content={siteTitle} />
    <meta property="og:url" content={siteUrl} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/open-graph-by-e.png" />
    <Header />
  </head>
  <body>
    <Nav />
    <main>
      <hero class="w-screen h-screen flex flex-col justify-end bg-bye-grey lg:flex-row lg:items-center">
        <div
          class="text-container flex flex-col
               space-y-4 px-6 py-10 lg:w-2/5 lg:px-16"
        >
          <h1>Why work with us?</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href="#wwu" class="flex flex-row items-center hover:text-bye-taupe-50 group"
            >Read more
            <svg
              class="w-8 h-4 ml-2 group-hover:translate-x-2 ease-in-out duration-200"
              width="100%"
              height="100%"
              viewBox="0 0 26 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M19.9878 0L18.7275 1.28501L22.5611 5.10701H0V6.89299H22.5611L18.7284 10.7159L19.9878 12L26 6L19.9878 0Z" fill="currentColor"></path>
            </svg></a
          >
        </div><!-- /. text wrap -->
        <div class="image-container flex flex-row justify-center items-start object-cover h-40v w-full overflow-hidden lg:w-3/5 lg:h-65v">
          <img src="/assets/img/home-person.jpg" alt="" class="min-h-full min-w-full object-cover" />
        </div><!-- /. img wrap -->
      </hero>
      <!-- /. hero  -->
      <div class="main-wrapper space-y-20 my-20 max-w-screen-2xl mx-auto flex flex-col items-center justify-center w-full lg:space-y-32 lg:mb-32">
        <section class="introduction-section lg:px-24" id="wwu">
          <div class="container">
            <div class="wrapper-grid grid gap-36 w-full lg:grid-cols-2 lg:grid-rows-[auto_5rem_auto_5rem_auto]">
              <div class="grid-item lg:space-y-12 lg:row-start-1 lg:row-span-1">
                <img src="/assets/img/wwu-scene-1.jpg" alt="" class="hidden lg:block" />
                <div class="text-wrap px-6 space-y-4 lg:px-0 lg:space-y-reverse">
                  <h2>We are an international company: European origin based in Indonesia</h2>
                  <p>
                    We operate in different areas and cultures. Being a fusion of a European and an Indonesian company and also living and having customers and shops
                    internationally makes us aware of the different cultures and values on both ends of the world. We can look from both the International as well as the local
                    perspective and from both the production as well as the consumer’s point of view. This smoothens many layers in design, communication, logistics and production.
                  </p>
                </div>
              </div><!-- /. grid-item -->
              <div class="grid-item flex flex-row-reverse w-full lg:flex-col lg:space-y-12 lg:row-start-1 lg:row-span-2">
                <div class="w-1/4 h-full flex flex-row justify-center items-center lg:w-full lg:h-[550px]">
                  <img src="/assets/img/home-handcraft.jpg" alt="" class="h-full object-cover lg:min-w-full" />
                </div>
                <div class="text-wrap px-6 space-y-4 w-3/4 lg:px-0 lg:w-full">
                  <h2>Our production takes place in our Elements Factory</h2>
                  <p>
                    ByE works together with Elements Factory based in Indonesia. Therefore it can control its development and production processes and implement its own vision and
                    values. We are there from the initial design until the finished product. Our skillful team members work closely together with the craftsmen to get the right
                    products. Being present at the source gives us control over every step in the process; from the sourcing of materials all the way through the production
                    process.
                  </p>
                </div>
              </div><!-- /. grid-item -->
              <div class="grid-item space-y-6 lg:space-y-12 lg:row-start-2 lg:row-span-3">
                <div class="flex flex-row justify-center items-center h-40v overflow-hidden lg:h-auto">
                  <img src="/assets/img/wwu-scene-2.jpg" alt="" class="w-full object-cover" />
                </div>
                <div class="text-wrap px-6 space-y-4 lg:px-0">
                  <h2>Updated collection every year</h2>
                  <p>
                    ByE develops and launches a new collection every year with fresh items. The collection takes  into account and incorporates the worldwide interior trends whilst
                    keeping its own authentic and recognizable style. We display the new collection at the international furniture fair and send our loyal customers a catalog
                    before displaying the new collection at the fair.
                  </p>
                </div>
              </div><!-- /. grid-item -->
              <div class="grid-item flex flex-col w-full space-y-20 lg:flex-row lg:space-y-0 lg:space-x-12 lg:row-span-1 lg:row-start-3">
                <div class="grid-sub-item flex flex-row-reverse lg:flex-col lg:w-1/2 lg:space-y-12">
                  <div class="w-1/4 h-full bg-bye-black flex flex-row justify-center items-center lg:h-35v lg:w-full">
                    <img src="/assets/img/wwu-craft.jpg" alt="" class="h-full object-cover lg:min-w-full" />
                  </div>
                  <div class="text-wrap px-6 space-y-4 w-3/4 lg:w-full lg:px-0">
                    <h2>Experience is what we’re known for</h2>
                    <p>
                      Bastiaan has already been designing and producing ‘white label furniture’  for renowned and successful international furniture brands for years. The extensive
                      experience of developing and producing for other brands has enabled us to see that our designs and products are very well received by end consumers in many
                      different countries and markets.
                    </p>
                  </div>
                </div><!-- /.sub item-->
                <div class="grid-sub-item flex lg:flex-col lg:w-1/2 lg:space-y-12">
                  <div class="w-1/4 h-full flex flex-row justify-end items-center overflow-hidden lg:w-full lg:h-35v">
                    <img src="/assets/img/catalog-4.jpg" alt="" class="h-full object-cover lg:min-w-full" />
                  </div>
                  <div class="text-wrap px-6 space-y-4 w-3/4 lg:w-full lg:px-0">
                    <h2>Relatively low MOQ’s per product</h2>
                    <p>
                      Because our products are crafted by hand we have relatively low minimum order requirements for our product categories. This makes it easier to choose a
                      variety of different products to fill up a single container.
                    </p>
                  </div>
                </div><!-- /.sub item-->
              </div><!-- /. grid-item with sub items -->
              <div class="grid-item space-y-6 lg:row-start-5 lg:row-span-1">
                <div class="text-wrap px-6 space-y-4 lg:p-16">
                  <q class="text-2xl lg:text-4xl"> ByE keeps up and implements the modern trends, ensuring that the collection appeals to the target audience. </q>
                </div>
              </div><!-- /. grid-item -->
              <div class="grid-item space-y-6 lg:space-y-12 lg:row-span-2 lg:row-start-4">
                <div class="flex flex-row justify-center items-center h-40v overflow-hidden">
                  <img src="/assets/img/wwu-scene-4.jpg" alt="" class="w-full object-cover" />
                </div>
                <div class="text-wrap px-6 space-y-4 lg:px-0">
                  <h3>Our collection consists of a broad range of different products and combinations of materials</h3>
                  <p>
                    ByE works together with Elements Factory based in Indonesia. Therefore it can control its development and production processes and implement its own vision and
                    values. We are there from the initial design until the finished product. Our skillful team members work closely together with the craftsmen to get the right
                    products. Being present at the source gives us control over every step in the process; from the sourcing of materials all the way through the production
                    process.
                  </p>
                </div>
              </div><!-- /. grid-item -->
              <!-- /. wrapper-grid -->
            </div>
            <!-- /. container-->
          </div>
        </section>
        <!-- /. introduction section -->
        <Catalogue />
      </div><!-- /.main wrapper -->
    </main>
    <Footer />
  </body>
</html>
